<nav>
    
    <div class="site-title">
        <a href="https://github.com/mbright90">MBRIGHT</a>
    </div>

    <ul>
        <li><a class="a-hover" href="/">HOME</a></li>
        <li><a class="a-hover" href="/about">ABOUT ME</a></li>
        <li><a class="a-hover" href="/contact">CONTACT ME</a></li>
    </ul>

</nav>