<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head'); %>
<body>
    <%- include('./partials/nav'); %>

    <div class="content">
        <h1 class="content-title">CONTACT ME</h1>

        <form>
            <div class="contact-input">
                <label for="email">Email Address</label>
                <input type="text" id="email" name="email" />
            </div>

            <div class="contact-input">
                <label for="message">Message</label>
                <textarea type="text" id="message" name="message"></textarea>
            </div>

            <button type="submit">SEND</button>
        </form>
    </div>

    <%- include('./partials/footer'); %>

    <script>
        const emailInput = document.querySelector('#email');
        const messageInput = document.querySelector("#message");

        const clearInputs = () => {
            emailInput.value = '';
            messageInput.value = '';
        }

        const formSubmitBtn = document.querySelector("button[type='submit']");
        formSubmitBtn.addEventListener("click", (event) => {
            event.preventDefault();
            console.log(`Email: ${email.value}`);
            console.log(`Message: ${message.value}`);
            clearInputs();
        });
    </script>

</body>
</html>